* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    background-color: transparent;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 100;
    padding: 20px 0px;
    width: 100%;
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    margin: 0px;
    padding-bottom: 0px;
    color:white;
}

.logo-container {
    margin-left: 100px;
    padding-top: 0px;
    margin-top: 10px;
}

.list-container {
    display:flex;
    gap:50px;
    margin-right: 60px;
    margin-top:10px;
}

.nav-link {
    text-decoration: none;
    color: white;
}

.frontview {
    position: relative;
    min-height: 600px;
    padding-top: 150px;
    color: white;

}

.frontview::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./images/background-image.png);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    filter: grayscale(100%);
    z-index: -1;
}
.big-container {
    text-align: center;
    font-size: 100px;
    margin-top: 150px;
}

.hero-background {
   
}


.applying-space {
    text-align: center;
    margin-top: -20px;
    margin-bottom: 15px;
    word-spacing: 60px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
} 

.btn {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

button {
    padding: 10px;
    border-radius: 25px;
    background-color: #C271FF;
    color: white;
    border: 0px;
}

.learn-pros {
    text-align: center;
    margin-top:180px;
}

.color-purple {
    color:#C271FF;
}

.inner {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-top:70px;
    margin-right: 200px;
    margin-left: 200px;
}

.image-edit {
    border-radius: 50%;
}

.h2-center {
    text-align: center;
    font-size: 18px;
    font-weight: 900;
}

.text-center {
    text-align: center;
    font-size: 16px;
    font-weight: 300;

}

.testimonial-section {
    background-color: #C271FF;
    display: flex;
    justify-content: space-between;
    padding: 100px;
    gap: 80px;
    color: white;
    font-size: 15px;

}

.person-image {
    border-radius: 80px;
    margin-left: 150px;
}

.testimonial {
    padding-top:8px
}

.section-tuts {

}
.popular-tuts { 
    text-align: center;
    padding: 60px 0;
}

.smile-align {
    display: flex;
    max-width: 1200px;
    justify-content: center;
    gap: 30px;
    margin: 0 auto;
    margin-bottom: 60px;

}

.card {
    width: 210px;
}


.tuts-image {
    width: 210px;
    height: 125px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

.smile-types {
    margin-left: 15px;
}

.p-smile {
    margin-left: 15px;
    color: #07162980;
    font-size: 14px;
    margin-top: 5px;
}

.author-info {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-left: 15px;
    color:#C271FF;
    font-size: 14px;
}

.phillip-rating {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    object-fit: cover;
    margin-top: 10px;
}

.membership {
    background-color: black;
    color:white;
    padding: 70px;
}

.free-mem {
    text-align: center;
    margin-bottom: 30px;
}

.mem-container {
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding:50px 50px;
}

.mem-options {
    text-align: center;
}

.mem-name {
    font-weight: 600;
    padding-bottom: 40px;
}

.mem-explanation {
    font-weight: 100;
    font-size: 14px;
}

.faq-section {
    text-align: center;
    font-size: x-large;
    padding:50px;
}

.faq-container {
    display: flex;
    justify-content: space-between;
    padding:10px 200px;
    gap:150px;
}

.faq-questions {
    font-weight: 900;
    padding-bottom: 40px;
}

.faq-answers {
    font-size: 14px;
    padding-bottom: 60px ;
}


footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    min-height: 120px;
    background-color: #071629;
    padding: 0px 0px;
}

footer h4 {
  margin: 10px;
  align-self: flex-start;
  color: white;
}